body {
    position: relative;
    overflow-x: hidden;
}

.sidebar-container {
    position: absolute;
    left: 0;
    top: 60px;
    bottom: 0;
    overflow-y: auto;
    width: 220px;
    background-color: var(--post-background);
    color: var(--post-text);
}

main {
    box-sizing: border-box;
    position: absolute;
    left: 220px;
    top: 60px;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.main-container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.sidebar-container nav {
    flex: 0 0 auto;
    padding: 20px 70px 25px 25px;
    position: static;
}

.grouper {
    padding: 24px 24px 8px 0px; 
    opacity: 0.6;
}

.groupTitle {
    padding: 16px 0px 8px 0px;
    transition: scale 0.3s;
    cursor: pointer;
}

.groupTitle:hover {
    scale: 1.1;
    text-decoration: overline;
}

.groupItems li {
    transition: scale 0.3s;
    cursor: pointer;
}

.groupItems li:hover {
    scale: 1.1;
    text-decoration: overline;
}


ul {
    margin: 0;
    list-style-type: none;
    padding: 0 0 0 16px;
}

ul li {
    padding: 8px 0px;
}

@media only screen and (max-width: 800px) {
    main {
        left: 0px;
    }

    .sidebar-container {
        top: 0px;
    }
}